source https://api.nuget.org/v3/index.json
framework: net472, netstandard20

nuget FSharp.Core

nuget System.Reactive
nuget System.ValueTuple

nuget FSharp.Control.Reactive

nuget ReactiveProperty

nuget MaterialDesignThemes

nuget NAudio
nuget TagLib.Portable

nuget LiteDB
nuget LiteDB.FSharp

group Test
    source https://api.nuget.org/v3/index.json
    framework: net472

    nuget xunit
    nuget xunit.runner.console
    nuget xunit.runner.visualstudio