source https://api.nuget.org/v3/index.json
framework: net472, netstandard20

nuget FSharp.Core

nuget System.Reactive
nuget System.ValueTuple

nuget FSharp.Control.Reactive

nuget NAudio
nuget NewtonSoft.Json
nuget SQLite.net-PCL
nuget System.Data.SQLite.Core
nuget TagLib.Portable
nuget MaterialDesignThemes
nuget ReactiveProperty
nuget LiteDB
nuget LiteDB.FSharp

group Test
    source https://api.nuget.org/v3/index.json
    framework: net472

    nuget xunit
    nuget xunit.runner.console
    nuget xunit.runner.visualstudio